### Entregable 1
Agregar columna 'Año' y concatenar los archivos

In [27]:

import os
import pandas as pd

base_path = 'C:/Users/abcpa/OneDrive/Escritorio/Maestria Ingenieria Y Analitica de datos/Modelado y simulacion/Modelado1/Datos Entregable/'

years = range(2014, 2025)  

dfs = {}

for year in years:
    file_path = os.path.join(base_path, f'{year}.csv')
    try:
        
        df = pd.read_csv(file_path, sep=',', encoding='utf-8')

        df['Año'] = year
        
        df['Puesto'] = range(1, len(df) + 1)

        dfs[year] = df

        print(f"Archivo {year}.csv cargado con éxito y columna 'Año' añadida.")
    except FileNotFoundError:
        print(f"Archivo {year}.csv no encontrado.")
    except Exception as e:
        print(f"Error al cargar {year}.csv: {e}")

df_concatenado = pd.concat(dfs.values(), ignore_index=True)


df_concatenado.to_csv('archivo_concatenado.csv', index=False)

print("Todos los archivos han sido cargados, columna 'Año' agregada y los DataFrames concatenados.")

Archivo 2014.csv cargado con éxito y columna 'Año' añadida.
Archivo 2015.csv cargado con éxito y columna 'Año' añadida.
Archivo 2016.csv cargado con éxito y columna 'Año' añadida.
Archivo 2017.csv cargado con éxito y columna 'Año' añadida.
Archivo 2018.csv cargado con éxito y columna 'Año' añadida.
Archivo 2019.csv cargado con éxito y columna 'Año' añadida.
Archivo 2020.csv cargado con éxito y columna 'Año' añadida.
Archivo 2021.csv cargado con éxito y columna 'Año' añadida.
Archivo 2022.csv cargado con éxito y columna 'Año' añadida.
Archivo 2023.csv cargado con éxito y columna 'Año' añadida.
Archivo 2024.csv cargado con éxito y columna 'Año' añadida.
Todos los archivos han sido cargados, columna 'Año' agregada y los DataFrames concatenados.

In [28]:
df.head(2)

,Puesto,País,Índice de Costo de Vida,Índice de Alquiler,Índice de Costo de Vida más Alquiler,Índice de Comestibles,Índice de Precios en Restaurantes,Índice de Poder Adquisitivo Local,Año
0,1,Islas Bermudas,13362,9136,11358,14355,12420,8425,2024
1,2,Suiza,11224,5278,8404,11673,10406,11891,2024